body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#1ad2aa;
text-align:center;
padding:30px;
}

nav{
background:#333;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

.card{
background:white;
padding:20px;
margin-top:20px;
border-radius:10px;
box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

h2{
color:#333;
}

footer{
background:#333;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

